#menu {
  display: flex;
  // width: 100%;
  padding: 8% 0 0 15%;

  .menu-main {
    display: flex;
    justify-content: space-evenly;
    // gap: 5px;
    .menu-left {
      width: 70%;
      overflow-x: hidden;
      padding: 5px 10px;
      // border: 1px solid red;
      .menu-top {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        gap: 20px;
        .search {
          width: 85%;
          background-color: $secondary-color;
          padding: 10px;
          border-radius: 10px;
          color: $font-color;
          form {
            input {
              width: 97%;
              border: none;
              background-color: transparent;
              outline: none;
              color: $font-color;
              font-size: 18px;
              padding-left: 10px;
            }
          }
        }
        .filter {
          button {
            background-color: $secondary-color;
            border: 1px solid $secondary-color;
            color: #fff;
            font-size: 20px;
            padding: 5px 10px;
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }
      .menu-middle {
        scroll-behavior: smooth;
        // border: 2px solid blue;
        overflow-x: scroll;
        scrollbar-width: none;
        margin: 15px 10px;

        .card {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 980px;

          .small-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border: 1px solid black;
            gap: 10px;
            background-color: $secondary-color;
            padding: 15px 25px;
            border-radius: 10px;
            cursor: pointer;
            &:hover {
              border-radius: 10px;
              // transform: scale(1.2);
              background-color: rgba(122, 122, 122, 0.903);
              transition: 400ms ease-in-out;
              color: #fff;
            }
             &.active {
                background-color: rgba(122, 122, 122, 0.903) ;
                color: #fff;
                
              }

            .icons {
              font-size: 30px;
            }
            .detail {
              p {
                margin: 0;
                text-align: center;
                font-size: 18px;
                color: #fff;
              }
              span {
                font-size: 18px;
              }
            }
          }
        }
      }
      .menu-bottom {
        .cards{
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          flex-wrap: wrap;
        }
      }
    }

    .menu-right {
      width: 25%;
      background-color: $secondary-color;
      border-radius: 10px;
    }
  }
}














// menu prop scss
.menucard-main{

  .menu-card{
    // border: 1px solid blue;
    background-color: $secondary-color;
    border-radius: 20px;
    width: 250px;
    padding: 15px;
    .img{
      width: 100%;
      img{
        width: 100%;
        border-radius: 20px;
      }
    }
    .middle-card{
      .title{
        h1{
          margin:5px 0px;
          color: #fff;
        }
      }
      .des{
        p{
          padding-top: 5px;
          padding: 0;
          margin: 0;
          font-size:14px ;
        }
      }
    }
    .bottom-card{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      .price{
        p{
          font-size: 20px;
          font-weight: 600;
        }
      }
      button{
        cursor: pointer;
        margin: 0 10px;
        border: none;
        background-color: transparent;
        color: #fff;
        font-size: 30px;
        border-radius: 50%;
        background-color: $primary-color;
        width: 38px;
      }
      .increase{
        background-color: $active-color;
      }
    }
    .send{
      button{
        border: 1px solid $secondary-color;
        background-color: $active-color;
        padding: 5px 10px;
        border-radius:10px;
        cursor: pointer;
        color: #fff;
        font-size: 17px;
        &:hover{
          transition: 500ms ease-in-out;
          background-color: transparent;
          border: 1px solid $active-color;
        }
      }
    }
  }
}
